*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.img1, .img2, .img3, .img4, .img5{
    background-repeat: no-repeat;
    background-size:cover ; 
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    background-image: url('./Fox.jpg');
    min-height: 600px;

}
.text-bg{
    transform: translateY(150px);
}
.text-bg{
    padding: 5px;
    font-size: 23px;
    height: 75px;
    width: 300px;
    background-color:#595959 ;
    text-align: center;
    color: #fff;
}
.content{
    padding: 35px;
    color: #fff;
    background-color: #282e34;
    height: 250px;
    line-height: 30px;
}
.content h2{
    margin-bottom: 15px;
}

.img2{
    background-image: url(./kitten-g34317c41c_1920.jpg);
    min-height: 530px;
}
.img3{
    background-image: url(./dog-g87c42e73f_1920.jpg);
    height: 500px;
}
.img4{
    background-image: url(https://faithbibleministries.files.wordpress.com/2017/10/and.jpg);
    height: 600px;
}
.img5{
    background-image: url(./pexels-maycon-marmo-4346014.jpg);
    height: 650px;
}
.header{
    height:  50px;
    text-align: center;
    padding: 10px;
}
